@import 'https://fonts.googleapis.com/css?family=Open+Sans|Oswald';
@media only screen and (max-width: 640px) {
  #navbar ul>li:not(:last-child){
    display: none;
  }
  #ibox {
    display: flex;
    flex-direction: column;
  }
  button {
    margin-top: 5px;
    display: inline-block;
    width: 350px;
  }
  .rcontainer ul li:not(:first-child){
    display: none;
  }
  .rcontainer {
    display: flex;
    flex-direction: column;
  }
  .rcontainer ul li{
    margin-left: -40px;
    border-bottom: 1px solid lightgreen;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  .rcontainer ul li:first-child{
    display: flex;
    justify-content: space-between;
  }
  .rcontainer ul li a:nth-child(2){
    display: inline-flex !important;
  }
}
.cover {
  background-image: url(img/Low-Res-Website-Background-300dpi.jpg);
  background-size: cover;
}
.rcontainer{
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  border-top: 1px solid lightgreen;
  margin-top: 400px;
}
.rcontainer ul {
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
}
.rcontainer ul li:first-child{
  font-weight: 600;
  font-size: 18px
}
.rcontainer ul li a:nth-child(2){
  display: none;
}
.ccontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footcontainer{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.footcontainer ul {
  display: flex;
}

/* Large */
.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.navigation ul {
  display: flex;
  list-style-type: none;
}

.item{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.itembox{
  display: block;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  padding: 25px;
  justify-content: center;
  align-items: center;
}
.itembox div:not(:nth-child(2)){
  display: flex;
  flex-direction: column;
  align-items: center;
}
.padding{
  padding: 8px;
}
.centerrow{
  margin:auto;
}

/*This code was taken from CSS-tricks*/
li a{
  display: inline-flex;
  padding: 8px;
  text-decoration: none;
}
li a:hover {
  opacity: 1;
  background-color: rgba(0,0,0,0.1);
  border-radius: 4px;
  color:white;
  transition: 0.25s;
}
ul li:nth-child(4) a {
  border-radius: 10px;
  border: 2px solid lightgrey;
}
ul li:nth-child(4) a:hover {
  border-radius: 10px;
  border: 2px solid white;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
h1 a{
  font-family: "Open Sans", sans-serif;
  color: black;
  text-decoration: none;
  font-size: 30px;
  padding: 15px;
}
a {
  font-family: "Open Sans", sans-serif;
  color: black;
  text-decoration: none;
}
footer li {
  display: inline-flex;
  text-decoration: none;
  padding: 2px;
  margin-right: 30px;
}
footer span {
  margin-left: 80px;
}
footer ul li{
  list-style-type: none;
}
h1 {
  font-family: 'Oswald', sans-serif;
}
p {
  font-family: 'Open Sans', sans-serif;
}
html {
  height: 100%;
  min-height: 100%;
}
input {
  display: inline-block;
  width: 350px;
  height: 60px;
  font-size: 20px;
  border-radius: 4px;
  box-shadow: inner 0 0 100px #888;
  margin-right: 7px;
  border: 1px solid #ccc;
  transition: border 1s;
  padding: 12px 20px;
  box-sizing: border-box;
}
button {
  display: inline-block;
  background-color: #4CAF50;
  border: 2px solid rgba(255, 255, 255, 0.5);;
  border-radius: 7px;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  margin-right: 5px;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: 0.5s;
}
/** Modified code from W3Schools*/
button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  transition: 0.5s;
}
button:hover span:after {
  opacity: 1;
}
